NODE_ENV=development
PORT=5000

MONGO_URL=

CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000/dashboard

CLIENT_ID=
CLIENT_SECRET=

JWT_ACCESS_TOKEN=
JWT_ACCESS_TOKEN_EXPIRY=15m
JWT_REFRESH_TOKEN=
JWT_REFRESH_TOKEN_EXPIRY=7d

AGENT_JWT_SECRET=
AGENT_JWT_SECRET_EXPIRY=30d
